.item-wrapper{
    display: flex;
    flex-direction: row;
}
.item-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    place-items: center;
    margin-top: 2rem;
    
}
.control{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 30px;
    color: #e0e0e0;
    width: 200px;
    padding: 2px;
    margin-bottom: 10px;
    border: 1px solid silver;
    border-radius: 20px;
}
.shopping-items{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    width: 300px;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    background: #e0e0e0;
    box-shadow: 15px 11px 15px -6px rgba(120, 113, 113, 0.75);
    -webkit-box-shadow: 15px 11px 15px -6px rgba(120, 113, 113, 0.75);
    -moz-box-shadow: 15px 11px 15px -6px rgba(120, 113, 113, 0.75);
}
.shopping-items img{
    width: 300px;
    height: 200px;
}
.shopping-items div{
    display: flex;
    flex-direction: column;
}
.cart-text{
    background-color: #2d2d2d;
    width: 100%;
    height: 200px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e0e0e0;

}
.cart-text p{
    margin: 1rem;
}
.item-description{
    margin-top: -1rem;
}
.remove{
    margin-left: 1rem;
    text-transform: capitalize;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid silver;
    box-shadow: 9px 10px 10px -4px rgba(0, 0, 0, 0.1);
}
.price{
    margin-left: 1rem;
    background-color: #2d2d2d;
    color: #e0e0e0;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    width: 70px;
}
.left-text{
    margin-left: 1rem;
}
.cart-svg{
    background-color: #e0e0e0;
    margin-top: 1px;
    border-radius: 50px;
}
.svg1{
    margin-left: 5px;
}
 .svg2{
    margin-right: 5px;
}
.total-display{
    display: grid;
    place-items: center;
    background-color: #2d2d2d;
    width: 100%;
    color: #ededed;
    height: 150px;
    margin-bottom: 2rem;
}
 .total-display h3 {
    text-align: center;
}
.sub{
    margin-top: -0.7rem;
}
.checkout{
    padding: 7px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid silver;
    background: #ededed;
    margin-top: -0.6rem;
    box-shadow: 8px 9px 15px -3px rgba(0, 0, 0, 0.1);
}
button:hover{
    cursor: pointer;
}
@media (max-width: 789px) {
    .shopping-items{
        width: 250px;
    }
    .item-container{
        grid-template-columns: 1fr;
    }
    .cart-text{
        width: 84%;
        margin-left: 1.5rem;
    }
    .item-description{
        margin: 0 !important;
        margin-bottom: 1rem !important;
        font-size: 0.9rem;
    }
}