.sec-container{
    height: 80vh;
    margin-top: 5rem;
    overflow: hidden;
    /* margin: 1rem; */
    /* margin-top: 5rem; */
    width: 100%;
}
.sec-header{
    font-size:  2rem;
    margin-top: 6rem;
}
.section-flex{
    display: flex;
    justify-content: space-between;
}
.sec-text{
    margin-left: 1rem;
}
.section-img{
    margin-bottom: 2rem;
}
.sec-mini{
    font-weight: 600;
    letter-spacing: 1.5;
    margin-bottom: 1.5rem;
}
.svg{
    position: relative;
    bottom: 35%;
    margin: 0;
    
}
.sec-button {
    --color: #818181;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.sec-button::before,
.sec-button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.sec-button::before {
    top: -1em;
    left: -1em;
}

.sec-button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.sec-button:hover::before,
.sec-button:hover::after {
    height: 410px;
    width: 410px;
}

.sec-button:hover {
    color: rgb(10, 25, 30);
}

.sec-button:active {
    filter: brightness(.8);
}
#bottomElement{
    height: 100px;
}
@media (max-width:769px) {
    .svg{
        bottom: 17%;
    }
    .section-flex{
        display: block;
    }
    .sec-text{
        margin-top: -4rem;
    }
    .section-img img{
        width: 400px;
        height: 300px;
    }
    .sec-header{
        font-size: 1.5rem;
    }
    .sec-button{
        padding: 0.6em 1.5em;
    }
    .sec-container{
        height: 70vh;
    }
    
}